<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<polymer-element name="shoppinglist-api" attributes="baseurl">
  <script>
    Polymer('shoppinglist-api', {
      baseurl: 'http://api.bahuma-online.de/einkaufszettel/v2',
      ready: function() {
        this.ajax = document.createElement('core-ajax');
        this.ajax.handleAs = 'json';
      },
      loadShops: function (callback) {
        this.ajax.url = this.baseurl + '/shops';
        
        this.ajax.addEventListener('core-response', function (e) {
          callback(e.detail.response);
        });
        
        console.log(this.ajax.go().responseText);
      },
      loadItems: function (shop, callback) {
        this.ajax.url = this.baseurl + '/items?shop=' + shop;
        
        this.ajax.addEventListener('core-response', function (e) {
          callback(e.detail.response);
        });
        
        this.ajax.go();
      },
      addShop: function(name, callback) {
        this.ajax.method = 'POST';
        this.ajax.url = this.baseurl + '/shops';
        this.ajax.body = '{"name": ' + name + '}';
        
        this.ajax.addEventListener('core-response', function(e) {
          callback(e.detail.response);
        });
        
        this.ajax.go();
      }
    });
  </script>
</polymer-element>