<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<polymer-element name="shoppinglist-api" attributes="baseurl">
  <script>
    Polymer('shoppinglist-api', {
      baseurl: 'http://node-shoppinglist-api.herokuapp.com/api',
      ready: function() {
        this.ajax = document.createElement('core-ajax');
        this.ajax.handleAs = 'json';
      },
      loadShops: function (callback) {
        this.ajax.url = this.baseurl + '/shops';
        
        this.ajax.addEventListener('core-response', function (e) {
          callback(e.detail.response);
        });
        
        console.log(this.ajax.go().responseText);
      },
      loadItems: function (shop, callback) {
        this.ajax.url = this.baseurl + '/shops/' + shop + '/items';
        
        this.ajax.addEventListener('core-response', function (e) {
          callback(e.detail.response);
        });
        
        this.ajax.go();
      },
      addShop: function(name, callback) {
        this.ajax.method = 'POST';
        this.ajax.url = this.baseurl + '/shops';
        this.ajax.params = {
          "name": name
        }
        this.ajax.addEventListener('core-response', function(data) {
          callback(data.detail.response);
        });
        
        this.ajax.go();
      }
    });
  </script>
</polymer-element>